
.sidebar {
    padding: 10px 0px;
    width: 20%;
  
  .post{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    padding: 10px 0px;

  }
  .img{
    height: 50px;
    width: 100%;
    object-fit: cover;

  }
  .link {
    a{
      color: inherit;
      font-weight: 300;
      font-size: 15px;
      text-decoration: none;
    }
    &:hover {
      color: teal;
      cursor: pointer;
    }
  }

}